 body {
    margin: 0;
    padding: 0;
    background-color: #A1A6AA;
    
  }
  * {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT",  "Trebuchet MS", sans-serif;
    
  }
  
  .topnav {
    background-color: black;
    overflow: hidden;
    padding: 0%;
    margin: 0%;
    width: auto;
    height: 93px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: relative;

}



.izquierda {
  margin-right: auto;

}

.derecha {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo de la lista desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Opciones dentro de la lista */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Cambia el color de las opciones cuando pasas el mouse */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Mostrar el menú cuando se haga clic */
.show {
  display: block;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icoNav{
    height: 26px; 
    width: 26px;
    padding: 10px;
 
  
  
}
  
  .topnav a:hover {
    color: white;
  }

  .padre{
    display: grid;
    grid-template-columns:  25% 25% 25% 25% ; 
    padding-top: 5%;
    
    }
    img{
        height: 284px;
        width: 320px;
      
    }
    

    
    .descripcion{
        margin-top: 7px;
        font-size: 19px;
    
    }
    

    
    .precio{
    font-size: 25px;
    margin-top: 7px;
    }

    
    .texto{
        padding: 3%;
    }
    .imagenes{
        padding: 3%;
    }

    .btnConocer {
    margin-left: 12%;                
    }
    
    .btnConocer a {
        text-decoration: none;
        border: 2px solid #010100;
        padding: 15px;
        padding-left: 18px;
        padding-right: 18px;
        color: white;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        border-radius: 25px;
        background-color: #000;
        margin-top: 7px;
        
      }